.container {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, auto) auto [menu] auto [scoreboard];
    grid-gap: 0;
    max-width: 512px;
    margin: auto;
    border: 0.6vw solid;
}

.header {
    grid-column: 1 / span 8;
    grid-row: 0;
    text-align: center;
}

.box {
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    background-color: green;
    position: relative;
    border: solid black;
    border-width: 0.2vw;
    box-sizing: border-box;
    padding-top: 100%;
    width: 100%;
}

.circle {
    position: absolute;
    z-index: 1;
    height: 60%;
    width: 60%;
    border-radius: 100%;
}

.is-black {
    background-color: black;
    color: white;
}

.is-white {
    background-color: white;
    color: black;
}

.is-empty {
    background: transparent;
}

.is-empty:hover {
    background-color: lightgreen;
}

.counter {
    grid-row: scoreboard;
    text-align: center;
}

.counter.is-black {
    grid-column: 1 / span 4; 
}

.counter.is-white {
    grid-column: 5 / span 4;
}
